.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
}

section {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  width: 24%;
  margin: 20px 0 20px 0;
  gap: 25px;
  font-size: 14px;
}

section img {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

section h3 {
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
}

section p strong {
  display: block;
  width: 250px;
  font-size: 16px;
}

section button {
  cursor: pointer;
  align-content: center;
  background-color: rgb(76, 110, 245);
  color: white;
  border-radius: 10px;
  border: none;
  display: block;
  width: 1000px;
  height: 40px;
  margin: 0px 20px 15px 20px;
}

section button:hover {
  background-color: blue;
}
